* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--main-yellow: hsl(31, 66%, 93%);
	--other-yellow: hsl(39, 100%, 71%);
	--purple1: hsl(254, 88%, 90%);
	--purple2: hsl(256, 67%, 59%);
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'DM sans', sans-serif;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	overflow: visible;
	background-color: rgb(240, 234, 234);
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(15, 1fr);
	gap: 20px;
	max-width: 1000px;
	margin: 50px;
	height: 85vh;
	overflow: visible;
	background-color: rgb(240, 234, 234);
	padding: 20px;
}

.item {
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
}

h1 {
	font-size: 3.6rem;
	text-align: center;
	font-weight: 550;
	line-height: 3.2rem;
	margin-top: 20px;
}

h2 {
	font-size: 2rem;
	letter-spacing: -1px;
	font-weight: 600;
	line-height: 2rem;
}

h3 {
	font-size: 1.2rem;
	letter-spacing: -1.5px;
	font-weight: 600;
	color: black;
}

.purple {
	color: var(--purple2);
	font-style: italic;
}

.item1 {
	grid-row: 1 / 8;
	grid-column: 1 / 2;
	background-color: var(--main-yellow);
	text-align: left;
	color: black;
	padding: 50px 30px;
	display: flex;
	flex-direction: column;
}

.item1 img {
	max-width: 180px;
	align-self: center;
	margin-top: 20px;
}

.item2 {
	grid-row: 1 / 7;
	grid-column: 2 / 4;
	background-color: var(--purple2);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}

.item2 img {
	height: 35px;
	margin-top: 20px;
}

.item2 p {
	font-size: 1.2rem;
}

.faster {
	font-style: italic;
}

.number {
	color: var(--other-yellow);
}

.item3 {
	grid-row: 7 / 11;
	grid-column: 2 / 3;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

.item3 img {
	width: 200px;
	position: relative;
	top: -10px;
}

.item4 {
	grid-row: 7 / 11;
	grid-column: 3 / 4;
	background-color: var(--other-yellow);
	padding: 25px;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	color: black;
	padding: 5px;
	padding-left: 10px;
}

.item4 img {
	height: 80px;
	width: 100px;
	position: relative;
	align-self: center;
}

.item5 {
	grid-row: 8 / 15;
	grid-column: 1 / 2;
	background-color: var(--other-yellow);
	color: black;
	display: flex;
	flex-direction: column;
}

.item5 img {
	width: 150px;
	align-self: center;
	margin-top: 10px;
}

.item6 {
	grid-row: 1 / 11;
	grid-column: 4 / 5;
	background-color: var(--purple1);
	color: black;
}

.item6 img {
	max-height: 200px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.item7 {
	grid-row: 11 / 15;
	grid-column: 2 / 3;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: black;
	font-size: 0.8rem;
}

.item7 h1 {
	font-size: 2rem;
	margin: 0;
	font-weight: 500;
	text-align: left;
	color: black;
}

.item7 img {
	height: 50px;
	width: 150px;
	margin-top: 10px;
}
.item8 {
	grid-row: 11 / 15;
	grid-column: 3 / 5;
	background-color: var(--purple2);
	display: flex;
	font-weight: 600;
	font-size: 2rem;
}

.item8 img {
	width: 150px;
}

@media (max-width: 968px) {
	body {
		height: auto;
	}
	.container {
		display: flex;
		flex-direction: column;
		height: auto;
		width: 100%;
		padding: 10px;
		margin: 0 auto;
		box-sizing: border-box;
	}
	.item {
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.item2 {
		order: 1;
		line-height: normal;
	}
	.item2 img {
		margin: 10px auto;
	}
	.item3 {
		order: 2;
	}
	.item4 {
		order: 3;
	}
	.item6 {
		order: 4;
	}
	.item8 {
		order: 5;
	}
	.item7 {
		order: 6;
	}
	.item1 {
		order: 7;
	}
	.item5 {
		order: 8;
	}
	h3 {
		font-size: 2rem;
	}
	br {
		display: none;
	}
}
